PORT=5000
SUPABASE_URL=https://ragvzinrvzuhoywcjfgn.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1jZnVrc2lqYXJydXR3cXd6YXl4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjIwMTY1MywiZXhwIjoyMDkxNzc3NjUzfQ.SaavBu4sQ9XrUldJ9VBJohsQqI_pPzmcA4Lg6MJrNx4
FRONTEND_URL=http://localhost:5173
